/* Helvetica Neue – Roman (Regular) */
@font-face{
  font-family  : 'Helvetica Neue';
  src          : url('../fonts/HelveticaNeue-Roman.otf') format('opentype');
  font-weight  : 400;
  font-style   : normal;
  font-display : swap;
}

/* Helvetica Neue – Light */
@font-face{
  font-family  : 'Helvetica Neue';
  src          : url('../fonts/HelveticaNeue-Light.otf') format('opentype');
  font-weight  : 300;
  font-style   : normal;
  font-display : swap;
}

/* Helvetica Neue – Thin */
@font-face{
  font-family  : 'Helvetica Neue';
  src          : url('../fonts/HelveticaNeue-Thin.otf') format('opentype');
  font-weight  : 200;
  font-style   : normal;
  font-display : swap;
}

/* Helvetica Neue – Medium */
@font-face{
  font-family  : 'Helvetica Neue';
  src          : url('../fonts/HelveticaNeue-Medium.otf') format('opentype');
  font-weight  : 500;
  font-style   : normal;
  font-display : swap;
}

/* Helvetica Neue – Bold */
@font-face{
  font-family  : 'Helvetica Neue';
  src          : url('../fonts/HelveticaNeue-Bold.otf') format('opentype');
  font-weight  : 700;
  font-style   : normal;
  font-display : swap;
}

/* Brown Sugar – Decorative font */
@font-face{
  font-family  : 'Brown Sugar';
  src          : url('../fonts/brown-sugar.ttf') format('truetype');
  font-weight  : normal;
  font-style   : normal;
  font-display : swap;
}


:root{
  --white1 : #f5f5f5;
  --gray1  : #6D7077;
  --gray2  : #77736D;
  --gray3  : #888;
  --black1 : #111;
}

.space{
  height : 100vh;
}

body{
  font-family      : "Helvetica Neue";
  background-color : #141414;
}

body{
  height   : 100%;
  overflow : hidden;
}

button,
*{cursor : none;}

.inner{
  width  : calc(100% - 100px);
  height : 100%;
  margin : 0 auto;
}

em{
  font-family : "Brown Sugar";
}

.grid_lay{
  column-gap : 1.25rem;
}

#swup-overlay{
  position        : fixed;
  inset           : 0;
  background      : rgba(0, 0, 0, 0);
  opacity         : 0;
  pointer-events  : none;
  z-index         : 10000;
  backdrop-filter : blur(0);
  transition      : opacity .7s ease-in-out, backdrop-filter .8s ease-in-out, background .8s ease-in-out;
}

html.is-changing #swup-overlay{
  background      : rgba(0, 0, 0, 1);
  opacity         : 1;
  pointer-events  : auto;
  backdrop-filter : blur(50px);
}

/* 원하면 header도 같이 페이드 */
html.is-changing header{
  opacity    : 0.2;
  transition : opacity .25s ease;
}


.noise-canvas{
  position       : fixed;
  z-index        : 9999;
  inset          : 0;
  pointer-events : none;
  opacity        : 0.4;
}

.cursor-outline{
  border-radius  : 50px;
  position       : fixed;
  z-index        : 50;
  width          : 80px;
  height         : 80px;
  border         : solid 1px #fff;
  mix-blend-mode : difference;
  pointer-events : none;
}

.cursor-dot{
  mix-blend-mode   : difference;
  border-radius    : 50px;
  position         : fixed;
  z-index          : 50;
  width            : 80px;
  height           : 80px;
  background-color : white;
  border           : solid 1px #fff;
  pointer-events   : none;
}

header{
  position   : fixed;
  top        : 0; left : 0;
  z-index    : 1000000;
  width      : 100%;
  min-height : 140px;
  padding    : 10px 0;

  .inner{
    display         : flex;
    justify-content : space-between;
    align-items     : flex-start;
  }

  h1{
    width            : max-content;
    height           : 0;
    background-color : #000;
    border-radius    : 106px;
    color            : var(--white1);
    overflow         : hidden;
    backdrop-filter  : blur(2px);

    a{
      display     : flex;
      align-items : center;
      gap         : 6.25rem;
      height      : 120px;
      padding     : 0 2.5rem 0 3.75rem;
    }

    strong{
      font-weight : 300;
    }

    span{
      font-size   : 14px;
      font-weight : 300;
      opacity     : 1;
      visibility  : visible;
    }

    p{
      font-size   : 2.5rem;
      font-weight : 400;
      opacity     : 1;
      visibility  : visible;
    }
  }

  nav{
    padding-top : 12px;

    ul{
      display          : flex;
      align-items      : center;
      border-radius    : 5rem;
      background-color : #000;
      height           : 3.125rem;
      height           : 0;
      padding          : 0 2.5rem;
      overflow         : hidden;

      a{
        font-size      : 24px;
        font-weight    : 400;
        color          : var(--white1);
        padding        : 0 2.5rem;
        mix-blend-mode : difference;
        transition     : color .5s ease-in-out;
      }

      a:active{
        color : var(--white1);
      }
    }

    li{position : relative;}

    li a{
      display        : flex;
      flex-direction : column;
      align-items    : center;
      position       : relative;
      height         : 50px;
      padding        : 12px 50px;
      overflow       : hidden;
    }

    li a::after{
      content        : attr(data-nav);
      font-size      : 24px;
      font-weight    : 400;
      color          : var(--white1);
      mix-blend-mode : difference;
    }

    li a span,
    li a::after{
      display    : block;
      transition : transform .4s ease-in-out;
      min-height : 50px;
    }

    li a:hover span,
    li a:hover::after{
      transform : translateY(-100%);
    }

    li.on::before{
      display        : block;
      position       : absolute;
      top            : 50%; left : 20px;
      transform      : translateY(-50%);
      content        : "";
      width          : 24px;
      height         : 24px;
      background     : url("../images/icons/ico_nav_on.svg") no-repeat center / cover;
      mix-blend-mode : difference;
    }
  }
}


footer{
  .line{
    position : relative;
    height   : 50px;

    &:after{
      display          : block;
      position         : absolute;
      top              : 50%;
      transform        : translateY(-50%);
      content          : "";
      width            : 0;
      height           : 1px;
      background-color : #fff;
      transition       : width 1s ease-in-out;
    }

    span{
      display          : block;
      position         : absolute;
      top              : 50%; left : 50%;
      transform        : translate(-50%, -50%);
      z-index          : 10;
      width            : 50px;
      height           : 50px;
      border-radius    : 50%;
      background-color : #000;
      opacity          : 0;
      transition       : opacity 1s 1s ease-in-out;
    }

    span:before{
      position         : absolute;
      top              : 50%; left : 50%;
      transform        : translate(-50%, -50%);
      content          : "";
      width            : 8px;
      height           : 8px;
      background-color : #fff;
      border-radius    : 50%;
    }

    i{
      display          : inline-block;
      position         : absolute;
      top              : 50%; left : -10px;
      transform        : translateY(-50%);
      width            : 8px;
      height           : 8px;
      background-color : #fff;
      border-radius    : 50%;
      transition       : left 1.25s .75s ease-out;
    }
  }

  .inner{padding-top : 50px;}

  .links{
    display       : flex;
    gap           : 1.25rem;
    margin-bottom : 60px;
    color         : #Fff;

    > div{
      position    : relative;
      padding-top : 11px;
      max-width   : 240px;
      width       : 100%;
      opacity     : 0;
      transform   : translateY(20%);
      transition  : opacity 1s ease-in-out, transform 1s ease-in-out;
    }

    > div:before{
      display          : block;
      position         : absolute;
      top              : 0;
      content          : "";
      width            : 0;
      height           : 1px;
      background-color : #fff;
      transition       : width 1s ease-in-out;
    }

    strong,
    a,
    p{
      display     : flex;
      align-items : center;
      gap         : 6px;
      font-size   : 14px;
      font-weight : 400;
      line-height : 150%;
    }

    strong:not(:first-of-type){
      margin-top : 10px;
    }
  }

  .desc{
    position : relative;
    padding  : 50px 0;
    color    : #fff;

    &:before{
      display          : block;
      position         : absolute;
      top              : 0;
      content          : "";
      width            : 0;
      height           : 1px;
      background-color : #fff;
      transition       : width 1s ease-in-out;
    }

    div{
      display         : flex;
      align-items     : center;
      justify-content : space-between;
    }

    button{
      position         : absolute;
      top              : -68px;
      right            : 0;
      width            : 40px;
      height           : 40px;
      border-radius    : 50%;
      background-color : #222;
    }

    button::after{
      display          : block;
      width            : 100%;
      height           : 100%;
      content          : "";
      mask             : url("../images/icons/ico_top_arrow.svg") no-repeat center / 24px;
      background-color : #fff;
    }

    p{
      font-size   : 18px;
      font-weight : 400;
      opacity     : 0;
      transform   : translateY(20%);
      transition  : opacity 1s ease-in-out, transform 1s ease-in-out;
    }
  }

  .copy_btn::after{
    display          : block;
    content          : "";
    width            : 16px;
    height           : 16px;
    mask             : url("../images/icons/ico_copy.svg") no-repeat center / cover;
    background-color : #fff;
  }

  .resume::after{
    display          : block;
    content          : "";
    width            : 20px;
    height           : 20px;
    mask             : url("../images/icons/ico_down.svg") no-repeat center / cover;
    background-color : #fff;
  }

  &.on{
    .line i{
      &:nth-child(1){left : 10%}

      &:nth-child(2){left : 30%}

      &:nth-child(3){left : 40%}

      &:nth-child(4){left : 70%}

      &:nth-child(5){left : 80%}
    }

    .line span{opacity : 1}

    .line:after,
    .links > div:before,
    .desc:before{width : 100%;}

    .desc p,
    .links > div{
      transform : translateY(0);
      opacity   : 1;
    }
  }
}

#intro{
  display          : none;
  justify-content  : center;
  align-items      : center;
  overflow         : hidden;
  position         : fixed;
  top              : 50%; left : 50%;
  transform        : translate(-50%, -50%);
  width            : 100%;
  height           : 100%;
  z-index          : 100000000;
  background-color : #111;
  opacity          : 0;
  visibility       : hidden;

  .item{
    width       : 80px;
    height      : auto;
    will-change : transform, opacity;
  }

  .item.left svg{
    transform : scaleX(-1);
  }

  .item.center{
    position         : fixed;
    transform        : scaleX(0);
    transform-origin : center;
    z-index          : 10;
    width            : 0;
    height           : 300px;
  }

  .item.center img{
    position   : absolute;
    left       : 50%; top : 50%;
    transform  : translate(-50%, -50%);
    /* aspect-ratio: 1/1; */
    width      : 300%;
    height     : 100%;
    object-fit : cover;
  }

  svg{
    width    : 100%;
    height   : auto;
    overflow : visible;
  }

  .trace{
    fill            : transparent;
    stroke          : #fff;
    stroke-width    : 2;
    stroke-linecap  : round;
    stroke-linejoin : round;
  }
}

.coordinate_display{
  position         : fixed;
  left             : 50%; bottom : 0;
  z-index          : 1;
  transform        : translateX(-50%);
  width            : max-content;
  padding          : 12px 1.25rem;
  border-radius    : 50px;
  background-color : rgba(31, 31, 31, 0.4);
  border           : 1px solid #aaa;
  font-size        : 14px;
  font-weight      : 500;
  letter-spacing   : 0.15rem;
  text-align       : center;
  color            : var(--white1);
  opacity          : 0;
  backdrop-filter  : blur(2px);
  transition       : opacity .5s ease-in-out, bottom .5s ease-in-out;
}

.coordinate_display.on{
  opacity : 1;
  bottom  : 2.5rem;
}


.banner{
  position         : relative;
  z-index          : 10;
  width            : 100%;
  background-color : #000;
  padding          : 0 50px;

  p{
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    min-height      : 20px;
    font-size       : 12px;
    font-weight     : 400;
    line-height     : 80%;
    color           : var(--white1);
    overflow        : hidden;
  }

  span{
    transform  : translateY(200%);
    transition : transform 1s ease-in-out;
  }

  &.show span{transform : translateY(0);}
}


.work_list{
  position : relative;

  .inner{
    position : relative;

    & > .pin-spacer{mix-blend-mode : difference}

    & > span{
      display           : flex;
      align-items       : center;
      gap               : 1.25rem;
      position          : absolute;
      z-index           : 1;
      font-size         : 100px;
      font-weight       : 500;
      width             : max-content;
      height            : max-content;
      padding           : 1.25rem;
      touch-action      : none;
      -webkit-user-drag : none;
      opacity           : 0;
      transition        : opacity .35s ease-in-out;

      &:nth-child(1){top : 0; left : 0; mix-blend-mode : difference; color : var(--white1);}

      &:nth-child(2){top : 0;right : 0; mix-blend-mode : difference; color : var(--white1);}

      &:nth-child(3){bottom : 0;left : 0;color : #00C9A7;}

      &:nth-child(3):before{
        content    : "";
        width      : 106px;
        height     : 4px;
        background : #00C9A7;
      }

      &:nth-child(4){bottom : 0;right : 0;color : #00C9A7;}

      &.show{
        opacity : 1;
      }
    }

    .pin_txt{
      position          : absolute;
      left              : 50%; top : 5%;
      z-index           : 10;
      transform         : translateX(-50%);
      touch-action      : none;
      -webkit-user-drag : none;
      font-size         : 1.25rem;
      font-weight       : 300;
      color             : var(--white1);
      mix-blend-mode    : difference;
      opacity           : 0;
      transition        : opacity .3s ease-in-out;

      &.on{opacity : 1}
    }

    em{
      font-family : "Brown Sugar";
    }
  }

  ul{
    display               : grid;
    grid-template-columns : repeat(4, 1fr);
  }

  li{
    display      : flex;
    width        : 100%;
    aspect-ratio : 1/1;
    padding      : 3px;

    a{
      display    : block;
      position   : relative;
      width      : 0;
      height     : 0;
      overflow   : hidden;
      transition : width .5s ease-in-out, height .5s ease-in-out;

      img{
        width           : calc((100vw - 126px) / 4);
        object-fit      : cover;
        object-position : center;
        left            : 0;
        aspect-ratio    : 1 / 1;
        display         : block;
        max-width       : max-content;
      }
    }

    .awards{
      display     : flex;
      align-items : center;
      gap         : 1.25rem;
      position    : absolute;
      top         : 1.25rem;
      right       : 1.25rem;

      span{
        display    : block;
        width      : 44px;
        height     : 44px;
        opacity    : 0;
        transition : opacity .75s 0s ease-in-out;
      }

      .gdweb{
        background     : url("../images/icons/ico_gdweb.svg") no-repeat center / cover;
        mix-blend-mode : exclusion;
      }

      .webaward{
        background : url("../images/icons/ico_webaward.svg") no-repeat center / cover;
      }
    }

    &.on_left{justify-content : flex-start;}

    &.on_right{justify-content : flex-end;}

    &.on_top{align-items : flex-start;}

    &.on_bottom{align-items : flex-end;}

    &.on_left a{height : 100%;}

    &.on_right a{height : 100%;}

    &.on_top a{width : 100%;}

    &.on_bottom a{width : 100%;}

    &.show{
      &.on_left a{width : 100%;}

      &.on_right a{width : 100%;}

      &.on_top a{height : 100%;}

      &.on_bottom a{height : 100%;}

      .awards span{
        transition : opacity .75s .5s ease-in-out;
        opacity    : 1;
      }
    }
  }
}

.sec_contact{
  padding : 180px 0;

  h2{
    position : relative;
    height   : 694px;
    height   : 32.1458vw;

    p{
      position   : absolute;
      width      : 100%;
      background : #141414;
      transition : top 1.25s .125s ease-in-out;

      &:nth-child(1){top : 252px; z-index : 3;}

      &:nth-child(2){top : 252px; z-index : 4}

      &:nth-child(3){top : 252px; z-index : 5;}

      &:nth-child(4){top : 252px; z-index : 4;}

      &:nth-child(5){top : 252px; z-index : 3;}

      &:nth-child(1) span{
        background : linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(20, 20, 20, 0.10) 50%);
      }

      &:nth-child(2) span{
        background : linear-gradient(180deg, rgba(255, 255, 255, 0.35) 0%, rgba(20, 20, 20, 0.35) 50%);
      }

      &:nth-child(4) span{
        background : linear-gradient(180deg, rgba(20, 20, 20, 0.35) 50%, rgba(255, 255, 255, 0.35) 100%);
      }

      &:nth-child(5) span{
        background : linear-gradient(0deg, rgba(255, 255, 255, 0.10) 0%, rgba(20, 20, 20, 0.10) 75%);
      }

      &:not(:nth-child(3)) span{
        background-clip         : text;
        -webkit-background-clip : text;
        -webkit-text-fill-color : transparent;
      }

      span{
        display     : block;
        width       : 100%;
        padding     : 40px 0 10px;
        font-size   : 7.2917vw;
        font-weight : 300;
        text-align  : center;
        color       : var(--white1);
      }
    }

    em{font-family : "Brown Sugar"}

    &.show p:nth-child(1){top : 0;}

    &.show p:nth-child(2){top : 126px;}

    &.show p:nth-child(4){top : 378px;}

    &.show p:nth-child(5){top : 504px;}
  }

  .marquee{
    display        : flex;
    align-items    : center;
    position       : static;
    overflow       : hidden;
    white-space    : nowrap;
    color          : var(--white1);
    mix-blend-mode : normal;
    letter-spacing : 10px;
    line-height    : 4;

    span{
      display     : block;
      padding     : 0 4px;
      font-size   : 24px;
      font-weight : 300;
      color       : var(--white1);
      font-smooth : always;
    }
  }
}

.marquee{
  position       : absolute;
  bottom         : 10px;
  width          : 100%;
  overflow       : hidden;
  white-space    : nowrap;
  font-size      : 60px;
  font-weight    : 400;
  line-height    : 125%;
  letter-spacing : -0.05em;
  color          : #00C9A7;
  mix-blend-mode : difference;
}

.marquee_track{
  display   : inline-flex;
  width     : max-content;
  animation : scroll 30s linear infinite;
}

.marquee_track .content{
  display : flex;
}

.marquee_track span{
  margin-right : 1rem;
}

@keyframes scroll{
  0%{ transform : translateX(0); }
  100%{ transform : translateX(-50%); }
}


.page-transition-container{
  display        : flex;
  flex-direction : column;
  position       : fixed;
  z-index        : 150000000000;
  height         : 100vh;
  width          : 100%;
  top            : 0;
  left           : 0;
  margin         : 0;
  pointer-events : none;

  .page-transition{
    transform  : scaleX(0);
    background : #2c2c2c;
    height     : 50%;
  }
}