@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
:root{
  --white1: #f2f2f2;
  --gray1: #6D7077;
}
.space{
  height: 100vh;
}
body{
  font-family: Proza Libre;
  background-color: #171717f2;
}
.inner{
  width: calc(100% - 100px);
  height: 100%;
  margin: 0 auto;
}
.grid_lay{
  column-gap: 1.25rem;
}

.noise_bg{
  position: fixed;
  top: 0; left: 0;
  mix-blend-mode:multiply;
  background-image:url(https://static.tumblr.com/rxfwyqf/20Zlzzth8/noise.png);
  opacity:.5;
  height:100vh;
  width:100%;
}

header{
  position: fixed;
  top: 0; left: 0;
  z-index: 10000;
  width: 100%;
  height: 85px;
  mix-blend-mode: difference;
}
header .inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 50px;
  color: var(--white1)
}
header .logo{
  font-size: 16px;
  font-family: Playfair Display;
  font-weight: 800;
}
header .datetime{
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%,-50%);
  font-size: 16px;
  font-weight: 400;
}
header .gnb{
  display: flex;  
  gap: 20px;
}
header .gnb a{
  font-size: 16px;
  font-weight: 400;
}

footer{
  position: relative;
  z-index: 10;
}
footer .line_wrap{
  width: 100%;
  height: 2px;
}
footer .line_wrap::after{
  width: 100%;
  height: 2px;
}
footer .oreo{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer .sm_circle{
  top: 50% !important;
  transform: translateY(-50%);
}
footer .sm_circle:nth-child(2){
  left: 477px;
}
footer .sm_circle:nth-child(3){
  left: 527px;
}
footer .sm_circle:nth-child(4){
  left: 1300px;
}
footer .sm_circle:nth-child(5){
  left: 1350px;
}
footer .sm_circle:nth-child(6){
  left: 1400px;
}
footer h2 a{
  transition: opacity .2s ease-in-out;
}
footer h2 a:hover{
  opacity: 0.6;
}
footer .inner{
  padding-top: 160px;
  padding-bottom: 40px;
}
footer .inner > .cont{
  margin-top: 140px;;
}
footer .submit_link{
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}
footer .resume_txt{
  padding-right: 180px;
}
footer .resume_txt p{
  padding-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, .2);
  font-size: 18px;
  color: #bbb;
}
footer .resume_txt a{
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  color: rgba(186, 186, 186, 0.6);
}
footer .resume_txt a::after{
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  background: url(../images/common/resume_down_ico.svg) no-repeat center / cover;
}
footer .cont > div{
  border-top: rgba(186, 186, 186, 0.6);
  padding-top: 10px;
}
footer .cont a,
footer .cont p{
  font-size: 14px;
  color: #bbb;
  line-height: 150%;
  transition: opacity .2s ease-in-out;
}
footer .cont a:hover{
  opacity: 0.6;
}

.btn1{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  padding: 16px 32px;
  border-radius: 16px;
  background-color: rgba(195, 195, 195, 0.08);
}
.btn1::after{
  display: block;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  content: "";
  border-radius: 16px;
  border: 1px solid rgba(100, 100, 100, .7)
}

.scr_txt_anim i{
  display: inline-block;
  font-size: 256px;
  color: #F2F2F2;
  line-height: 80%;
  letter-spacing: -0.04em;
  font-family: "Playfair Display";
  transform-origin: center;
}
