main{
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}
.bg_c{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100vh;
}
.bg_c .circle{
  position: absolute;
  top: -64px;
  left: -754px;
  z-index: 5;
  width: 1800px;
  height: 1800px;
  border-radius: 50%;
  background-color: #111;
  box-shadow: inset -4px 0 250px 12px rgba(255,255,255,.05);
}
.bg_c .light{
  position: absolute;
  top: 50%; left: 50%;
  z-index: 4;
  transform: translate(-50%,-50%);
  width: 198px;
  height: 198px;
  border-radius: 50%;
  background-color: #d9d9d9;
  box-shadow: 0 0 250px 200px rgba(255, 255, 255, .2);
  filter: blur(120px);
}

.sec_cont1{
  position: relative;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  color: var(--white1);
}
.sec_cont1 h2{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  font-size: 80px;
  line-height: 150%;
}
.sec_cont1 h2 p:not(:first-child){
  margin-top: 188px;
  text-align: right;
}
.sec_cont1 h2 i{font-style: italic;}
.sec_cont1 h2 span{
  font-family: "Playfair Display";
  font-style: italic;
}
.sec_cont1 .scr_btn{
  position: absolute;
  bottom: 50px;
}
.sec_cont1 .scr_btn i{
  display: block;
  width: 10px;
  height: 18px;
  background: url("../images/icons/ico_scr_arrow.svg") no-repeat center / cover;
}
.sec_cont1 .links{
  display: flex;
  align-items: center;
  gap: 40px;
  position: absolute;
  right: 0;
  bottom: -70px;
}
.sec_cont1 .links a{
  font-size: 20px;
  line-height: 150%;
  color: rgba(255, 255, 255, .8)
}