html, body{
  height: 100%;
}
[data-scroll-container]{
  min-height: 100%;
}
main{
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

.sec_cont1{
  position: relative;
  z-index: 10;
  height: 100vh;
}
.sec_cont1 .cont{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}
.sec_cont1 .cont img{
  aspect-ratio: 320/480;
}
.sec_cont1 .txt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 44px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  z-index: 5;
  width: max-content;
}
.sec_cont1 .txt p{
  display: flex;
  gap: 74px;
  font-size: 14px;
  font-family: "Playfair Display";
  color: #fff;
}
.sec_cont1 .txt p span{
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1.72em;
}
.sec_cont1 .txt p em{
  color: rgba(255, 255, 255, .6);
  letter-spacing: 0.4em;
}
.sec_cont1 .txt p i{
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.4em;
}
.sec_cont1 .scr_btn{
  position: absolute;
  left: 50%; bottom: 24px;
  transform: translateX(-50%);
  font-size: 14px;
  font-family: "Playfair Display";
  font-weight: 600;
  line-height: 150%;
  letter-spacing: .2em;
}
.sec_cont1 .scr_btn span{color: rgba(255, 255, 255, 1)}
.sec_cont1 .scr_btn em{color: rgba(255, 255, 255, .6)}

.sec_cont2 .inner{
  padding-top: 200px;
}