
.sec_visual{
  position: relative;
  .visual{
    position: relative;
    width : 100%;
    height: 100vh;
    h2{
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%,-50%);
      z-index : 10;

      p{
        width : max-content;
        height: 15.625rem;
        font-size:12.5rem;
        font-weight: 300;
        overflow: hidden;
      }
      p:first-child{
        color: var(--white1);
      }
      p:last-child{
        margin: 0 auto;
        color: transparent;
        -webkit-text-stroke: 0.125rem var(--white1);
      }
      em{font-family: "Brown Sugar"}
      span:first-of-type{
        display:inline-flex;
        align-items: center;
      }
      span:first-of-type::after{
        content: "";
        width: 0;
        height: 0.625rem;
        display: block;
        background-color: var(--white1);
        margin: 0 2.5rem;
        transition: width 1s 1.35s ease-in-out;
      }
      i{
        display:block;
        transform: translateY(100%);
        opacity: 0;
        transition: transform 1s 0.5s ease-in-out, opacity 1s 0.5s ease-in-out;
      }
      p:last-child i{transition-delay: 1.35s}
    }
    img{
      position:absolute;
      top: 50%; left:50%;
      transform: translate(-50%,-50%);
      width : 100%;
      height: 100vh;
      object-fit: cover;
    }
    &::after{
      display:block;
      position: absolute;
      top: 0; left: 0;
      width : 100%;
      height: 100%;
      background-color : #000;
      content:"";
      opacity: 0;
      transition: opacity .35s ease-in-out;
    }
    &::before{
      display: block;
      position: absolute;
      bottom: 0; left: 0;
      z-index : 1;
      width: 100%;
      height: 8.75rem;
      background: linear-gradient(#11111100, #141414);
      content:"";
    }
  }
  .inner{
    position: absolute;
    left: 50%; bottom: 0;
    transform: translateX(-50%);
    z-index : 2;
    height:max-content;
    padding-bottom : 2.5rem;
  }
  .desc{
    p{
      position: relative;
      top: 5rem;
      opacity: 0;
      width : max-content;
      padding: 1.25rem;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 150%;
      color: var(--white1);
      transition: top .75s ease-in-out, opacity .75s ease-in-out;
    }
    p:before{
      display : block;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width : 1px;
      height: 0;
      background-color : var(--white1);
      transition: height .5s .5s ease-in-out;
    }
    a{
      display: flex;
      align-items: center;
      gap: 0.375rem;
      position : relative;
      top: 2rem;
      opacity: 0;
      width : max-content;
      margin-top : 1.25rem;
      margin-left : 1.25rem;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 150%;
      color: var(--white1);
      transition: top .5s .5s ease-in-out, opacity .5s .5s ease-in-out;
    }
    a:before{
      display:block;
      position : absolute;
      left:0; bottom: 0;
      content: "";
      width : 0;
      height: 1px;
      background-color: var(--white1);
      transition: width .5s .75s ease-in-out;
    }
    a:after{
      display : block;
      width : .5rem;
      height: .5rem;
      background-color: var(--white1);
      mask: url("../images/icons/ico_link_arrow.svg") no-repeat center / cover;
      content: "";
    }
  }
  .scr_down_btn{
    position: absolute;
    bottom: 2.5rem; right : 0;
    padding: 1.5rem 1.75rem 1.5rem 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity .5s .75s ease-in-out;
    span{
      font-size: 0.875rem;
      font-weight: 400;
      color: var(--white1);
      line-height: 150%;
    }
    &::after{
      display: block;
      position: absolute;
      top: 0; right : 0.313rem;
      content: "";
      width : 1px;
      height: 100%;
      background: var(--white1);
    }
    &::before{
      display: block;
      position: absolute;
      top: -20%;
      right : 0;
      content: "";
      width : 0.625rem;
      height: 0.625rem;
      border-radius: 50%;
      background: var(--white1);
      animation: scrDot 2s ease-in-out forwards infinite;
    }
  }
  &.on{
    .visual::after{opacity: 0.4}
    .visual h2 span:first-of-type:after{width: 124px}
    .visual h2 i{transform: translateY(0); opacity: 1}
    .desc p{top: 0; opacity: 1}
    .desc p:before{height: 100%}
    .desc a{top: 0; opacity: 1}
    .desc a:before{width : 100%}
    .scr_down_btn{opacity: 1}
  }
}
@keyframes scrDot{
  from{
    top: -40%;
  }
  to{
    top: 120%;
  }
}

.sec_about{
  .desc{
    position: relative;
  }
  h2{
    padding: 8.75rem 0;
    font-size: 8.75rem;
    font-weight: 500;
    color: var(--white1);

    span{
      display: block;
      overflow: hidden;
      min-height: 9.75rem;
      transform: translateY(0);

      em{
        display : block;
        transform: translateY(0);
        transition: transform 1s ease-in-out;
      }
      &.show em{
        transform: translateY(100%);
      }
    }
  }
  h3{
    position: relative;
    margin-top: 22.5rem;

    p:first-of-type{
      font-size: 10rem;
      font-weight: 500;
      color: #3859FF;
      text-align: center;
      min-height: 11.125rem;
      overflow: hidden;

      em{
        display:block;
        transform: translateY(100%);
        transition: transform 1s ease-in-out;
      }
      &.show em{
        transform: translateY(0);
      }
    }
    p:last-of-type{
      font-size: 3.75rem;
      font-weight: 500;
      text-align: center;
      color: var(--white1);
      min-height: 4.25rem;
      overflow: hidden;
      span{
        display:block;
        transform: translateY(0);
        transition: transform 1s ease-in-out;
      }
      &.hide span{
        transform: translateY(100%);
      }
    }

    &::before,
    &::after{
      content: "(";
      position: absolute;
      top: 8.75rem;
      left: 0;
      font-size: 12.5rem;
      font-weight: 400;
      font-family: "Brown Sugar";
      color: var(--white1);
      transform: translateY(-150px);
    }
    &::after{
      content: ")";
      left: auto;
      right : 0;
    }
  }
  .sub_txt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 1rem;

    div{
      display: flex;
      align-items: center;
      gap: 1.25rem;
    }
    .rolling_img{
      width : 21.25rem;
      height: 10rem;
      border-radius: 1.25rem;
      overflow: hidden;
      img{
        width : 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    p{
      font-size: 1rem;
      font-weight: 400;
      line-height: 90%;
      color: var(--white1);
    }
  }
}

.sec_skill{
  padding-top: 21.25rem;

  h2{
    font-size: 3.75rem;
    font-weight: 500;
    width : max-content;
    margin: 0 auto;
    color:var(--white1);
  }
  .skills_wrap{
    width : calc(100% - 2.5rem);
    max-width: 75rem;
    margin: 7.5rem auto 0;
    background-color: var(--white1);
    border-radius: 5rem;
    ul{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3.75rem;
      padding: 28.125rem;
      font-size: 6.25rem;
      font-weight: 600;
      color:var(--black1);
      white-space: nowrap;
    }
  }
}

.sec_values{
  padding: 12.5rem 0;

  h2{
    font-size: 2rem;
    font-weight: 300;
    color: var(--white1);
    line-height: 120%;
    text-align: center;
  }
  .value_video{
    width : 35rem;
    height: 18.625rem;
    margin: 2.5rem auto 0;
    border-radius: 1.25rem;
    overflow: hidden;
    video{
      display:block;
      width : 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  h3{
    margin-top: 3.75rem;
    font-size: 4rem;
    font-weight: 500;
    line-height: 90%;
    color: var(--white1);
    text-align: center;
    margin-bottom: 2.5rem;
  }
  .line{
    position: relative;
    width : 13rem;
    height: 13rem;
    margin: 0 auto;
    overflow: hidden;
    &::before{
      display:block;
      position: absolute;
      top: 0;
      left: 50%;
      z-index : 1;
      transform: translateX(-50%);
      width : .5rem;
      height:.5rem;
      background:var(--white1);
      border-radius: 50%;
      border: 1.25rem solid #1B263B;
      content: "";
      opacity: 0;
      transition: opacity 1s 0.5s ease-in-out;
      animation: scrDot 2s
      ease-in-out forwards infinite;
    }
    &::after{
      position: absolute;
      left: 50%; top: 0;
      transform: translateX(-50%);
      width : 1px;
      height: 0;
      content: "";
      background-color: var(--white1);
      transition: height 1s .25s ease-in-out;
    }
    &.show{
      &::before{
        opacity: 1;
      }
      &::after{
        height: 100%;
      }
    }
  }
  .desc{
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    max-width : 88.75rem;
    width : 100%;
    margin: 2.5rem auto 0;
    min-height: 3.25rem;

    li{
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      position: relative;
      height: 0;
      background: #334FDC;
      border-radius: 0.625rem;
      color: var(--white1);
      overflow: hidden;
      transition: height 0.5s 0s ease-in-out;

      span{
        position:absolute;
        top: 50%; left: 0.875rem;
        transform:translateY(-50%);
        font-size: 0.875rem;
        font-weight: 400;
        font-family: "Brown Sugar";
        letter-spacing: 0.0376em;
        opacity: 0;
        transition: opacity .35s 0s ease-in-out;
      }
      p{
        font-size:1.25rem;
        font-weight:300;
        opacity: 0;
        transition: opacity .35s 0s ease-in-out;
      }
      em{
        font-family: "Brown Sugar";
      }
      &.show{
        height: 3.25rem;
        transition: height 0.5s 1s ease-in-out;
        span, p{
          opacity: 1;
          transition: opacity .5s 1.25s ease-in-out;
        }
      }
    }
  }
}