.coordinate_display{opacity: 1 !important; bottom: 40px;}

.sec_visual{
  width : 100%;
  aspect-ratio: 16/9;
  background-color: #141414;

  .inner{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    position: relative;
  }
  .inner > em{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 200px;
    font-weight: 300;
    font-family: "Brown Sugar";
    color: var(--white1);
  }
  .inner > em:first-of-type{left: 0}
  .inner > em:last-of-type{right: 0}

  .about_visual{
    position: relative;
    width : 340px;
    aspect-ratio: 1/1;
    border-radius: 20px;
    overflow: hidden;

    video,
    img{
      position: absolute;
      top: 0;
      width : 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      -webkit-user-drag: none;
      transition: opacity 1s ease-in-out;
    }
    video.on,
    img.on{
      opacity: 1;
    }
  }
  h2{
    font-size: 48px;
    font-weight: 400;
    color: var(--white1);
    line-height: 125%;
    text-indent: 2.625em;
  }
}

#about{
  .sec_introduce{
    padding: 200px 0;
    background: url("../images/visuals/about_bg.png") no-repeat center / cover;

    .inner{
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: 20px;
    }
    h2{
      grid-column: 3/-1;
      font-size: 140px;
      font-weight: 300;
      line-height: 150%;
    }
    em{
      font-family: "Brown Sugar";
    }
    .desc{
      grid-column: 7/-1;
      margin-top : 20px;
      p{
        display: flex;
        align-items: flex-end;
        gap: 10px;
      }
      strong{
        font-size: 34px;
        font-weight: 400;
        line-height: 150%;
      }
      span{
        display: inline-block;
        font-size: 20px;
        font-weight: 400;
        line-height: 150%;
        padding-bottom: 10px;
      }
    }
  }
  .sec_message{
    padding: 230px 0;

    .inner{
      display: grid;
      grid-template-columns:repeat(12, 1fr);
      grid-column-gap: 20px;
      position : relative;
    }
    p{
      font-size: 20px;
      font-weight: 400;
      line-height: 135%;
      color: var(--white1);
      margin-top: 50%;
    }
    p:first-of-type{grid-column: 1/5; padding-right : 30px;}
    p:last-of-type{grid-column: -1/-5; padding-left: 30px}
    .img_wrap{
      grid-column: 5/9;
      aspect-ratio: 594/742;
      border-radius: 40px;
      overflow: hidden;
      img{
        width : 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.25);
        filter: blur(20px);
        transition: transform 1s .5s ease-in-out, filter 1s ease-in-out;
      }
      &.show img{
        filter: blur(0px);
        transform: scale(1);
      }
    }
    h2{
      position: absolute;
      left: 50%;
      bottom: -100px;
      transform: translateX(-50%);
      width : max-content;
      font-size: 140px;
      font-weight: 300;
      line-height: 150%;
      color: var(--white1);
      mix-blend-mode: difference;

      &::before,
      &::after{
        display: block;
        position: absolute;
        top: -24px;
        content: "";
        width: 2rem;
        height: 2rem;
        background: url("../images/icons/ico_about_arrow.svg") no-repeat center / cover;
        transition: left 1.5s ease-in-out, right 1.5s ease-in-out, transform 1.5s ease-in-out;
      }
      &::before{
        left: 50%;
        transform: rotate(0);
      }
      &::after{
        right: 50%;
        transform: rotate(180deg);
      }
      &.show::before{
        left: 0;
        transform: rotate(180deg);
      }
      &.show::after{
        right: 0;
        transform: rotate(0);
      }
    }
    em{font-family: "Brown Sugar"}
  }
  .sec_career{
    padding: 200px 0;
    background-color : #1D262F;

    .tit{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      h2{
        font-size: 140px;
        font-weight: 300;
        color: var(--white1);
      }
      p{
        font-size: 20px;
        font-weight: 400;
        line-height: 150%;
        color: var(--white1);
        padding-bottom: 35px;
        font-family: "Brown Sugar";
      }
      em{font-family: "Brown Sugar"}
    }
    .desc{
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: 20px;
      padding: 100px 0 80px;
      margin-bottom : 144px;
      position: relative;

      &::after{
        position: absolute;
        bottom: 0; left: 0;
        content: "";
        width : 0;
        height: 2px;
        background: var(--white1);
        transition: width 1s .5s ease-in-out;
      }
      &.show::after{
        width : 100%;
      }
      li{
        position: relative;
        border-radius: 40px;
        background-color: var(--white1);
        aspect-ratio: 440 / 260;
        transform: scaleY(0);
        transform-origin: bottom;
        transition: transform .5s ease-in-out;

        &:nth-child(1){grid-column: 1/4;}
        &:nth-child(2){grid-column: 4/7;}
        &:nth-child(3){grid-column: 7/10;}
        &:nth-child(4){grid-column: 10/-1;}
        &.show{
          transform: scaleY(1);
        }
      }
      h3{
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);
        font-size: 80px;
        font-weight: 400;
        font-family: "Brown Sugar";
        opacity: 0;
        transition: opacity .5s .5s ease-in-out;
      }
      span, p{
        position: absolute;
        top: 20px; right : 24px;
        font-size: 16px;
        font-weight: 400;
        opacity: 0;
        transition: opacity .5s .5s ease-in-out;
      }
      span{
        inset: auto auto 20px 24px;
      }
      li.show{
        h3, span, p{
          opacity: 1;
        }
      }
    }
    h4{
      margin-bottom : 44px;
      font-size: 40px;
      font-weight: 300;
      color: var(--white1);
      text-align: center;
    }
    .contact_message{
      margin: 0 auto;
      border-radius: 40px;
      background: var(--white1);
      width : 100%;
      max-width : 594px;

      a{
        display: flex;
        gap: 20px;
        position: relative;
        padding: 24px 20px;
      }
      a>div{flex: 1;}
      a::after{
        content: "";
        position: absolute;
        left:20px; bottom: 24px;
        width : 175px;
        height: 129px;
        background: url("../images/visuals/about_deco_arrow.svg") no-repeat center / cover;
      }
      h5{
        flex: 1;
        font-size: 32px;
        font-weight: 500;
      }
      p{
        margin-bottom : 24px;
        font-size: 16px;
        font-weight: 400;
      }
      img{
        width : 200px;
        aspect-ratio: 200 / 134;
      }
    }
  }
  .sec_skills{
    background-color : #111;
    padding: 180px 0;

    h2{
      position: relative;
      font-size: 140px;
      font-weight: 400;
      color: var(--white1);
      text-align: center;
      margin-bottom : 92px;

      &::after{
        position: absolute;
        left: 50%;
        bottom: -32px;
        transform: translateX(-50%);
        content:"";
        width : 32px;
        height: 32px;
        background: url("../images/visuals/about_scr_arrow.svg") no-repeat center / cover;
      }
    }
    ul{
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
      row-gap: 120px;
      color: var(--white1);
    }
    li:nth-child(odd){
      grid-column: 1/-1;
    }
    li:nth-child(even){
      grid-column: 6/12;
    }
    .skill{
      width : 100%;
      max-width : 746px;
    }
    .hd{
      display: flex;
      gap: 40px;
      padding-bottom: 10px;
      border-bottom: 1px solid var(--white1);
    }
    span{
      opacity: .6;
    }
    .bd{
      padding: 32px;
      padding-bottom : 0;
      border-left: 1px solid var(--white1);
    }
    p{
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
    }
  }
}

#works{
  .work_list_all{
    padding-top: 80px;
    padding-bottom: 200px;
    background-color: #1D262F;

    .hd{
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
    }
    .sort{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .sort_current{
      width : max-content;
      font-size: 100px;
      font-weight: 700;
      color: var(--white1);
      text-align: left;
    }
    .total{
      font-size: 100px;
      font-weight: 300;
      color: #f5f5f5;
    }
    .sort_list{
      display: flex;
      align-items: center;
      gap: 40px;
      button{
        font-size: 20px;
        font-weight: 400;
        color: rgba(255,255,255,.6);
        transition: color .25s ease-in-out;
      }
      button.on{
        color: rgba(255,255,255,1);
      }
    }
    .cont{
      margin-top : 80px;
      ul{
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
      }
      li{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: relative;
        padding: 12px 0;
        width : calc(50% - 10px);
        overflow: hidden;
        &::after{
          position: absolute;
          left: 0; bottom: 0;
          content: "";
          width : 0;
          height: 1px;
          background-color: #f5f5f5;
          transition: width .5s ease-in-out;
        }
      }
      li:nth-child(1),
      li:nth-child(2){
        &::before{
          position: absolute;
          left: 0; top: 0;
          content: "";
          width : 0;
          height: 1px;
          background-color: #f5f5f5;
          transition: width .5s ease-in-out;
        }
      }
      li.show{
        &::after,
        &::before{width : 100%;}
        h3,p,i{
          transform: translateY(0);
          opacity: 1;
        }
      }
      h3{
        display: flex;
        align-items: flex-end;
        gap : 6px;
        width : 100%;
        font-size: 20px;
        font-weight:400;
        color: var(--white1);
        transform: translateY(20px);
        opacity: 0;
        transition: transform .3s .5s ease-in-out, opacity .3s .5s ease-in-out;
      }
      h3 span{
        font-size: 14px;
        font-weight: 400;
        color: var(--white1);
        opacity: .6;
      }
      i{
        display : block;
        width : 100%;
        max-width : 100px;
        font-size: 16px;
        font-weight: 400;
        color: var(--white1);
        transform: translateY(20px);
        opacity: 0;
        transition: transform .3s .5s ease-in-out, opacity .3s .5s ease-in-out;
      }
      p{
        display : block;
        width : 100%;
        max-width : 300px;
        font-size: 16px;
        font-weight: 400;
        color: var(--white1);
        transform: translateY(20px);
        opacity: 0;
        transition: transform .3s .5s ease-in-out, opacity .3s .5s ease-in-out;
      }
    }
  }
}

#work{
  .sec_visual{
    padding: 280px 0;

    p{
      font-size: 20px;
      text-align : center;
      color: var(--white1);
    }
    h2{
      margin-top : 20px;
      font-size: 120px;
      font-weight: 400;
      text-indent: 0;
    }
    h3{
      font-size: 20px;
      font-weight: 400;
      text-align: center;
      color: #bbb;
    }
  }
}